doctype html
html
  head
    title CDD Sandbox
    


    link rel="stylesheet" href="style.css"
    / link rel="preload" crossorigin="" href="fonts/Roboto-Regular.woff2" as="font"

  body
    script type="text/javascript" src="app.bundle.js"
    script type="text/javascript" src="editor.worker.bundle.js"
    script type="text/javascript" src="json.worker.bundle.js"
    script type="text/javascript" src="css.worker.bundle.js"
    script type="text/javascript" src="html.worker.bundle.js"
    script type="text/javascript" src="ts.worker.bundle.js"

    section.header Compiler Driven Development

    section.tab-bar
      .tab-bar--tab.new-project +
        
    section.content
      #sidebar.column
        .sidebar--title
          | Models
        .sidebar--items.models
        .sidebar--title
          | Requests
        .sidebar--items.requests
      #editor-container.column
        #errors
        #editor
